<!DOCTYPE html>
<html lang="zh-hans">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <div id="frame" class="col-md-4 text-center col-md-push-4" style="background-color:#3c763d">
            <div class="row">
                <div class="col-md-3">
                    <img src="" alt="">
                </div>
                <div class="col-md-7">
                    <h3>欢迎注册</h3>
                </div>
            </div>
            <div class="row">
                <form  method="post">
                    <div class="col-md-4">
                        用户名：
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="等级" value="1">
                        <input type="text" name="用户名">
                    </div>
                    <div class="col-md-4">
                        密码：
                    </div>
                    <div class="col-md-8">
                        <input type="password" name="密码">
                    </div>
                    <div class="col-md-12">
                        {{ tip }}
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="注册">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>