<!DOCTYPE html>
<html lang="zh-hans">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>场次管理</title>
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="row">
    <div class="col-md-2">
        <a class="a_color" href="film_management">影片管理</a>
        <a class="a_color" href="controller_management">管理员管理</a>
        <a class="a_color" href="studio_management">放映厅管理</a>
        <a class="a_color" href="user_order">用户订单</a>
        <a class="a_color" href="session_management">场次安排</a>
    </div>
    <div class="col-md-8 col-md-push-1" style="margin-top: 30px">
        <div class="row">
                <h4>订单列表</h4>
            </div>
            <div class="col-md-8">
                <table align="center" width="800px" height="120px">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>座次</th>
                        <th>总金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <hr/>
                    <tbody>
                    {% for i in orders %}
                        <tr>
                            <th>{{ i.username }}</th>
                            <th>{{ i.seats }}</th>
                            <th>{{ i.value }}</th>
                            <th>
                                <form method="post">
                                    <input type="hidden" name="id" value={{ i.id }}>
                                    <input type="submit" class="btn-danger" value="删除"/>
                                </form>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>